gunicorn==20.1.0
altgraph==0.17
asgiref==3.3.4
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
Django==3.2.3
django-debug-toolbar==3.2.1
future==0.18.2
html5lib==1.1
idna==2.10
llvmlite==0.36.0
lxml==4.6.3
numba==0.53.1
numpy==1.20.2
pefile==2021.5.13
Pillow==8.2.0
psycopg2==2.8.6
pygame==2.0.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.4
webencodings==0.5.1