<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="icon" href="your_address_icon" type="image/x-icon">
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="icon"
      type="image/png"
      href="http://example.com/myicon.png">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>