{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %} Users{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}" >
{% endblock %}
{% block body %}
<div class="container">
    <div class="inputs">
<form method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit" value="Create Account">CREATE ACCOUNT</button>
</form>
<button type="button" onClick="location.href='/'" value="back" >BACK</button>

        </div>
</div>
{% endblock %}